black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
fast_ml==3.68
category-encoders==2.6.4
seaborn==0.13.2
lazypredict==0.2.12 
scikit-learn==1.5.2

-e .
